@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.search-results > a {
  width: 90%;
  position: relative;
  z-index: 4;
}

.favorite{
    backdrop-filter: blur(1px);
    transition: 0.3s ease;
}

.favorite.active{
    background-color: red !important;
}

.movie-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-auto-rows: 1fr;
  gap: 80px;
  justify-items: center;
  align-items: start;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .search-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 30px;
  }
}

.dashboard-lower > span{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 15px 30px;
}
